.blivkundecontainer {
    font-size: 2rem;
    background-color: #18183b;
    margin: 0;
    padding: 20px 40px;
}

.blivkundecontainer h3, h2 {
    color:#f4c034
}

.blivkundecontainer p, li, ul {
    color: white;
    margin:0;
    padding-bottom: 5px;
    list-style: none;
}