Tilføje den her template til ledigestillinger.html og ledigestillingerEN.html under den div det hedder "ledighedscontainer"

<div class="ledighedtext">
    <h1>*jobtitel*</h1>
    <ul>
        <li>*spørgsmål*</li>
        <li>*spørgsmål*</li>
        <li>*spørgsmål*</li>
        <li>*du må altid tilføje eller slette så mange "li" elementer som du har brug for, hver element svarer til en linje*</li>
    </ul>

    <h3>Velkommen til Elite Gaming</h3>
    <p>Elite Gaming er den st&oslash;rste opstiller af gevinstgivende spilleautomater i Danmark. Sammen med over 300 samarbejdspartnere i hele landet, arbejder vi m&aring;lrettet 
        for at udbygge vores position som den mest fleksible og servicemindede leverand&oslash;r p&aring; markedet. *kort beskrivelse af hvad virksomheden søger efter og hvor*</p>
    <h3>Din typiske dag:</h3>
    <ul>
        <li>*typiske dag linje*</li>
        <li>*typiske dag linje*</li>
        <li>*typiske dag linje*</li>
        <li>*typiske dag linje*</li>
        <li>*du må altid tilføje eller slette så mange "li" elementer som du har brug for, hver element svarer til en linje*</li>
    </ul>
    <p>*typiske dag kort tekst*</p>


    <h3>Solid opl&aelig;ring og kundefokus</h3>
    <p>Vores kunder er vores absolutte omdrejningspunkt. Vi &oslash;nsker, at de f&aring;r en kompetent og fantastisk serviceoplevelse – den er du med til at give dem. 
        Faglighed, kundefokus og en venlig tilgang til opgaverne betyder alt. *beskrivelse af tilbydt oplæring på virksomheden*</p>
    
    
    <h3>Et st&aelig;rkt team, der lykkes i flok</h3>
    <p>Sammen med vores dedikerede team f&aring;r du ansvar for *beskrivelse for hvad får man ansvar til*</p>
    <h3>Vi tilbyder:</h3>
    <ul>
        <li>Konkurrencedygtig l&oslash;n og pensionsordning</li>
        <li>Sundhedsforsikring</li>
        <li>Ordnede forhold blandt kollegaer og et st&aelig;rkt sammenhold</li>
        <li>Fleksible arbejdstider og god work-life balance</li>
        <li>*andre specifikke ting virksomheden tilbyder til jobbet*</li>
    </ul>


    <h3>Dine kvalifikationer</h3>
    <p>Vi forestiller os, at:</p>
    <ul>
        <li>*kvalifikation*</li>
        <li>*kvalifikation*</li>
        <li>*kvalifikation*</li>
        <li>*kvalifikation*</li>
        <li>*kvalifikation*</li>
    </ul>


    <h3>Er du interesseret?</h3>
    <p>Har du sp&oslash;rgsm&aring;l til stillingen, er du velkommen til at kontakte *arbejdsgivers navn og hvad de gør* p&aring; tlf. 
        <a class="email" href="tel:+45*telefon nummer*">(+45) *telefon nummer*.</a></p> 

        <p>Er du interesseret i jobbet, s&aring; send din ans&oslash;gning og dit CV til 
            <a class="email" href="mailto:forhandlerservice@elitegaming.dk">forhandlerservice@elitegaming.dk</a>
             - vi vil l&oslash;bende evaluere ans&oslash;gninger og indkalde til samtale.</p>

    <p>Vi gl&aelig;der os til at h&oslash;re fra dig.</p>




Ellers hvis der er ingen stillinger tilbage må du tilføje den følgende til ledigestillinger.html:

<div class="ledighedtext">
    <h1>Vi har ingen stillinger endnu, men du er meget velkommen til at sende en uopfordret ans&oslash;gning p&aring; 
        <a href="mailto:forhandlerservice@elitegaming.dk" style="color: white; border-bottom: 2px solid white;" >forhandlerservice@elitegaming.dk</a></h1>
</div>

Og den følgende til ledigestillingerEN:

<div class="ledighedtext">
                <h1>We have no job openings for now, but you are welcome to send an unsolicited application on
                    <a href="mailto:forhandlerservice@elitegaming.dk" style="color: white; border-bottom: 2px solid white;" >forhandlerservice@elitegaming.dk</a></h1>
            </div>